* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.App {
    width: 80%;
    margin: 0 auto;

    h1 {
        color: red;
    }
}

@media (max-width: 850px) {
    .App {
        width: 100%;
    }
}
